<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sherri's API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/icon.gif">
   <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
   
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid" id="banner">
        <img id="profileimg" class="img-rounded">
         <h1>Sherri's Personal API</h1>
         <ul>
          <li><a id="places" href="#">My Places</a></li>
          <li><a id="profile" href="#">Profile </a></li>
          <li><a id="myapi" href="#">My API Docs </a></li>
         </ul> 

      </div>

      <div id="form">
         <h3> Been to a new place? </h3>
           <form method="POST" id="cityform" action="/api/places/">
            <input id="name" name="name" type="text" placeholder="City" />
            <input id="country" name="country" type="text" placeholder="Country" />
            <input id="lat" name="lat" type="text" placeholder="Lat" />
            <input id="long" name="long" type="text" placeholder="Long" />
            <input type="submit" />
        </form>
      </div>
      <div class="container" id="main">
      
       

          <script id="places-discription"  type="text/x-handlebars-template">
            <p class="columns"> City   - Country  - id </p>
            {{#each place}}
            <p class="place-info"> {{name}} - {{country}} - {{_id}} </p>
            {{/each}}
          </script>

         <script id="API-discription"  type="text/x-handlebars-template">
            <p class="columns"> Method   - Path  - Discription </p>
            {{#each rout}}
            <p class="api-info"> {{method}} - {{path}} - {{description}} </p>
            {{/each}}
          </script>
     

      </div>
    </div>

  </body>
</html>
