// var mongoose = require('mongoose'),
//   Schema = mongoose.Schema;

// var CampsiteSchema = new Schema({
//   description: String
// });

// var Campsite = mongoose.model('Campsite', CampsiteSchema);

// module.exports = Campsite;


var mongoose = require('mangoose');
var Schema   = mongoose.Schema;


var activity = new Schema({
	title:String,
	
})